
a.markdown-btn {
  font-size: inherit;
  font-family: inherit;
  color: #70A9A1;
  background-color: #1f363d;
  text-align: center;
  padding: 5px 1em 5px 1em;
  margin: 10px 3px 10px 3px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  text-align: center;
  transition: all .2s ease;
  display: inline-block;

  &:hover{
    background-color: #40798C;
    color: #CFE0C3;
  }
  &:active {
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--bg-color);
  }
}

a.btn {
  border-color: #1f363d;
  &:hover{
    background-color: #1f363d;
    color: #CFE0C3;
  }
}

a.nav-link {
  text-decoration: none;
  &:hover{
    color: #CFE0C3 !important;
  }
  transition: all .2s ease !important;
}

.portrait-title h3 {
  color: #1f363d;
}

a {
  transition: all 0s ease;
  color: #1f363d;
}


.section-subheading_article-title_mb-0{
  color: #1f363d;
}

.article-title a{
  color: #1f363d !important;
}

.article-style{
  color: #1f363d;
}

h2 {
  color: #1f363d !important;
}

h1 {
  color: #1f363d !important;
}

h3 {
  color: #1f363d !important;
}

.navbar-brand{
  transition: all .2s ease !important;
}


.ai.ai-cv.big-icon {
 transition: all 0s ease !important;
}
